body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1046px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1423px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-39px;
  width:720px;
  height:1423px;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:704px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:70px;
  font-size:28px;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:716px;
  word-wrap:break-word;
}
#u537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u537 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:15px;
  width:40px;
  height:40px;
}
#u538 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:292px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u539 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:98px;
  width:670px;
  height:292px;
  font-size:20px;
  text-align:left;
}
#u540 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:138px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u541_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:750px;
  height:5px;
}
#u541 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:35px;
  width:747px;
  height:2px;
}
#u542 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:743px;
  visibility:hidden;
  word-wrap:break-word;
}
#u543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:12px;
  width:218px;
  height:106px;
  font-size:20px;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:214px;
  word-wrap:break-word;
}
#u545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:10px;
  width:99px;
  height:52px;
  font-size:20px;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:95px;
  word-wrap:break-word;
}
