body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1779px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-21px;
  width:720px;
  height:1779px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:882px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:74px;
  font-size:36px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:716px;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:12px;
  width:50px;
  height:50px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
